﻿@model IEnumerable<AUTOVENTAS_Cars.Models.Vehiculo>

@{
    ViewBag.Title = "Listado de Vehiculos";
}

<h2>Listado de Vehiculos</h2>

<p>
    @Html.ActionLink("Agregar Vehiculo", "RegistrarVehiculo", "Vehiculo")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.combustible)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.combustible)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio)
        </td>
        <td>
            @Html.ActionLink("Editar", "EditarVehiculo", new { id = item.idVehiculo }) |
            @Html.ActionLink("Detalles", "Detalle", new { id=item.idVehiculo }) |
            @Html.ActionLink("Eliminar", "EliminarVehiculo", new { id = item.idVehiculo })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Inicio", "Index", "Home")
</div>