﻿
@{
    ViewBag.Title = "DASHBOARD";
}


@if (Session["nombreUsuario"] != null)
{
    <h2>Bienvenido @Session["nombreUsuario"]</h2>
    <div class="page-header">
        <h1><small>Panel de administración</small></h1>
    </div>
    <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="@Url.Content("~/Imagenes/chevrolet1.jpg")" alt="...">
                    <div class="caption">
                        <h3>Ingreso de vehiculos</h3>
                        <p>Aqui puede ingresar todos los vehiculos nuevos al stock </p>
                        <p>@Html.ActionLink("Agregar Vehiculos", "RegistrarVehiculo", "Vehiculo", null, htmlAttributes: new { @class = "btn btn-primary" })</p>
                    </div>
                </div>
            </div>            
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="@Url.Content("~/Imagenes/hyundai1.jpg")" alt="...">
                    <div class="caption">
                        <h3>Listado de Vehiculos</h3>
                        <p>Aqui pude visualizar el catálogo de vehiculos disponibles</p>
                        <p>@Html.ActionLink("Listado de Vehiculos", "ListarVehiculo", "Vehiculo", null, htmlAttributes: new { @class = "btn btn-primary" })</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="@Url.Content("~/Imagenes/kia1.jpg")" alt="...">
                    <div class="caption">
                        <h3>Eliminar vehiculos</h3>
                        <p>Aqui puede eliminar los vehiculos que desee</p>
                        <p>@Html.ActionLink("Eliminar Vehiculos", "ListarVehiculo", "Vehiculo", null, htmlAttributes: new { @class = "btn btn-primary" })</p>
                    </div>
                </div>
            </div> 
    </div>
}

else {
    <h2> Por favor inicie sesion </h2>
    <li> @Html.ActionLink("Registrarse", "Registrar", "Cuenta") </li>
    <li> @Html.ActionLink("Iniciar Sesion", "Login", "Cuenta") </li>
}