﻿@{
    ViewBag.Title = "DASHBOARD";
}

<body>
    @if (Session["nombreUsuario"] != null)
    {
        <h2>Bienvenido @Session["nombreUsuario"], lamentamos las molestias pero este sitio aun esta en construccion</h2>
        <h1>Pronto estara habilitado</h1>


        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Auto Ventas Car's", "NoDisponible", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav"></ul>
                    @if (Session["IDUsuario"] != null)
                {
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li>@Html.ActionLink("Inicio", "NoDisponible", "Home")</li>
                                <li role="presentation" class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="a" role="button" aria-haspopup="true" aria-expanded="false">
                                        @Session["nombreUsuario"] <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Logout", "Logout", "Cuenta")</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </div>

        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>



    }

    else {
        <h2> Por favor inicie sesion </h2>
        <li> @Html.ActionLink("Registrarse", "Registrar", "Cuenta") </li>
        <li> @Html.ActionLink("Iniciar Sesion", "Login", "Cuenta") </li>
    }

</body>