﻿@model AUTOVENTAS_Cars.Models.Archivo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Archivo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vehiculo.marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vehiculo.marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contenido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contenido)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idArchivo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
