html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal 14px sans-serif;
  background: #CCC url(../images/background.jpg) repeat;
  color: #5D5D5D;
  padding-top: 30px;}

p
{ padding: 0 3px 20px 5px;
  line-height: 1.7em;}
  
img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ font: bold 175% 'liberation sans', arial, sans-serif;
  color: #43423F;
  margin: 0 0 15px 5px;
  padding: 15px 0 5px 0;}

h2
{ font: bold 165% 'liberation sans', arial, sans-serif;}

h3
{ font: bold 125% 'liberation sans', arial, sans-serif;
  color: #014076;}

h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 0;
  font: bold 110% 'liberation sans', arial, sans-serif;
  color: #5ABD21;
  line-height: 1.5em;}

h5, h6
{ font: italic 95% arial, sans-serif;
  color: #888;
  padding-bottom: 15px;}

h6
{ color: #362C20;}

#banner h1
{ font: bold 300% 'liberation sans', arial, sans-serif;
  color: #FFF;
  margin: 0 0 15px 25px;
  padding: 15px 0 5px 0;}

a, a:hover
{ background: transparent;
  outline: none;
  text-decoration: underline;
  color: #2091FF;}

a:hover
{ text-decoration: underline;
  color: #5D5D5D;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ margin: 2px 0 15px 17px;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #header, #banner, #menubar, #site_content, #footer, #container_footer, #container_header
{ margin-left: auto; 
  margin-right: auto;}

#main
{ width: 920px;
  background: #FFF;
  padding-bottom: 20px;
}

#header
{ background: transparent;
  width: 880px;
  padding: 8px 0 0 0;}

#banner
{ width: 880px;
  position: relative;
  height: 250px;
  background: #FFF url(../images/banner.jpg);}
  
#menubar
{ width: 880px;
  height: 35px;
  margin: 0 auto;
  background: #FFF;
  color: #000;} 

#site_content
{ width: 880px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  background: #FFF;} 

.sidebar_container
{ float: right;
  width: 224px;
  margin-top: 18px;
  padding: 0;}

.sidebar_top
{ float: left;
  width: 224px;
  height: 15px;
  background: url(../images/side_top.png) no-repeat;}

.sidebar_base
{ float: left;
  width: 224px;
  height: 15px;
  background: url(../images/side_base.png) no-repeat;}

.sidebar
{ float: right;
  width: 300px;
  padding: 0;
  margin-bottom: 20px;}

.sidebar p
{ font-size: 95%;}

.sidebar li.selected, .sidebar li:hover
{ color: #5D5D5D;
  text-decoration: none;} 

.sidebar_item
{ padding: 0 0 0 15px;
  width: 201px;}

.sidebar_item h1
{ padding: 20px 0 10px 0;
  margin: 0;}
  
.content_item
{ width: 860px;
  padding-left: 5px;
  margin: 20px 0px 20px 0px;
  background: #EEEEEE;}
  
.box1
{ width: 566px;
  float: left;
  padding-left: 5px;
  margin: 25px 20px 20px -5px;
  background: #EEEEEE;
  border: 1px solid #ccc;}

.box2
{ width: 278px;
  float: left;
  padding-left: 5px;
  margin: 25px 0px 20px 0px;
  background: #EEEEEE;
  border: 1px solid #ccc;}
  
#content
{ width: 873px;
  float:left;
  padding-left: 5px;
  margin: 20px 0px 20px 0px;
  background: #EEEEEE;}

#container_header
{ margin-top: 20px;
  height: 15px;
  width: 920px;
  background: transparent url(../images/container_header.png) repeat-x top;}  
  
#container_footer
{ height: 20px;
  width: 920px;
  background: transparent url(../images/container_footer.png) repeat-x top;}
  
#footer
{ width: 880px;
  font: normal 115% "liberation sans", arial, sans-serif;
  height: 35px;
  padding: 20px 0 0px 0;
  text-align: center;
  margin-bottom: -15px;  
  background: #FFF;
  color: #014076;}

#footer a, #footer a:hover
{ color: #014076;
  background: #FFF;
  text-decoration: underline;}

#footer a:hover
{ text-decoration: none;}

ul.links
{ margin: 0;}

ul.links li
{ list-style: none;
  padding: 8px 0;}

ul.links li a, ul.links li a:hover
{ padding: 0 0 0 28px;
  background: transparent url(../images/page.png) no-repeat left center;
  color: #06C4E6;
  text-decoration: underline;} 

ul.links li a:hover
{ color: #5D5D5D;
  text-decoration: none;} 

#nav, #nav ul
{ float: right;
  list-style: none;
  padding: 125px 0 0 0;
  margin: 0;
  line-height: 35px;
  font: 115% helvetica;}
 
#nav a 
{ color: #FFF;
  display: block; 
  text-decoration: none;
  list-style-type: none;}
  
#nav li, #nav li.last  
{ float: left;
  display: block;
  padding: 0px 10px 0px 10px;
  margin: 0;
  height: 35px;}

#nav li.last
{ border-right: 0px;}
  
#nav li a, #nav li.last a {
  padding: 9px 0;
  text-align: center;  
  height: 15px;}

#nav li ul 
{ position: absolute;
  background: #7B7B7B;
  font: 100% arial;
  width: 100%;
  left: -999em;}
 
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul 
{ left: auto;}

#nav a:hover 
{ color: #FFF;}
 
#nav li:hover, #nav li.sfhover
{ background: #1982D3;}

#nav li li:hover
{ background: #1982D3;}

#nav li li 
{ border-bottom: 1px solid #FFF;
  width: 100%;
  padding: 0;
  display: block;
  float: left;
  height: auto;}

#nav li li a 
{ padding: 10px 43px 10px 43px;
  width: auto;
  height: auto;}

#nav li:hover, #nav li.hover 
{ position: static;}